{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block content %}
  {% for news in object_list %}
    <div class="card">
      <div class="card-header">
	<span class="fonr-weight-bold">{{ news.title }}</span> &middot;
	<span class="text-muted">by {{ news.author }} | {{ news.date }}</span>
      </div>
      <div class="card-body">
        {{ news.body }}
      </div>
      <div class="card-footer text-center text-muted">
	<a href="{% url 'news_edit' news.pk %}">Edit</a> | 
	<a href="{% url 'news_delete' news.pk %}">Delete</a>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}
